{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque consequatur unde magnam illo quisquam eveniet perspiciatis sapiente dolor odio magni consectetur nulla aperiam necessitatibus laudantium, animi ratione nemo? Sint, consectetur?</p>

